extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to detail
 else
  - let jeepid = toShow._id
  - let jeep_color = toShow.jeep_color
  - let jeep_cost = toShow.jeep_cost
  - let jeep_speed = toShow.jeep_speed

  div
   div.row
    div(class='costumeAttr mr-3') jeep ID is:
    div #{jeepid}
   div.row
    div(class='costumeAttr mr-3') jeep_color is:
    div #{jeep_color}
   div.row
    div(class='costumeAttr mr-3') jeep_cost is:
    div #{jeep_cost}
   div.row
    div(class='costumeAttr mr-3') jeep_speed is:
    div #{jeep_speed}
 